body{
    background-color: black;
    background-image: url('PB.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    margin: 0;
    font-family: Lato Regular;
}
  
.topnav {
    overflow: hidden;
    background-color: #1E1E1E;
}
  
.topnav a {
    float: left;
    color: #EADCDC;
    text-align: center;
    padding: 5px 80px;
    text-decoration: None;
    font-size: 14px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #33030F;
    color: white;
}

.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 15px;
    border: none;
    color: #EADCDC;
    padding: 0px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.subnav-content {
    display: none;
    position: absolute;
    left: 30;
    background-color: #1E1E1E;
    width: 50%;
    z-index: 1;
}
  
.subnav-content a {
    float: left;
    color: #EADCDC;
    text-decoration: none;
}
  
.subnav-content a:hover {
    background-color: #ddd;
    color: black;
}
  
.subnav:hover .subnav-content {
    display: block;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
      
 /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
      
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
      
/* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
background: #555;
}

@media only screen and (min-width: 320px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('PB6.png');
    }
      
    .topnav a {
        padding: 7px 13px;
        font-size: 11px;
    }   

    .topnav a.active {
        padding: 8px 18px;
    }

    .admin {
        position: absolute;
        left: 50px;
        top: 220px;
        width: 25px;
        height: 25px;
    }
    
    .albert {
        color: #140401;
        font-size: 12px;
        position: absolute;
        left: 85px;
        top: 218px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .fb {
        position: absolute;
        left: 41px;
        top: 238px;
        width: 45px;
        height: 45px;
    }
    
    .fb_text {
        color: #0f0e0e;
        font-size: 12px;
        position: absolute;
        left: 85px;
        top: 255px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .insta {
        position: absolute;
        left: 41px;
        top: 268px;
        width: 45px;
        height: 45px;
    }
    
    .insta_text {
        color: #0f0e0e;
        font-size: 12px;
        position: absolute;
        left: 85px;
        top: 285px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .yahoo {
        position: absolute;
        left: 54px;
        top: 307px;
        width: 20px;
        height: 20px;
    }
    
    .yahoo_text {
        color: #0f0e0e;
        font-size: 12px;
        position: absolute;
        left: 85px;
        top: 300px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .gmail {
        position: absolute;
        left: 56px;
        top: 335px;
        width: 18px;
        height: 12px;
    }
    
    .gmail_text {
        color: #0f0e0e;
        font-size: 12px;
        position: absolute;
        left: 85px;
        top: 323px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .tel {
        position: absolute;
        left: 56px;
        top: 353px;
        width: 20px;
        height: 20px;
    }
    
    .tel_text {
        color: #0f0e0e;
        font-size: 12px;
        position: absolute;
        left: 85px;
        top: 345px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
}

@media only screen and (min-width: 360px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('PB6.png');
    }
      
    .topnav a {
        padding: 10px 16px;
        font-size: 12px;
    }   

    .topnav a.active {
        padding: 11px 17px;
    }
    
}

@media only screen and (min-width: 375px) and (min-height: 667px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('PB6.png');
    }
      
    .topnav a {
        padding: 10px 18px;
        font-size: 12px;
    }   

    .topnav a.active {
        padding: 10px 17px;
    }

    .admin {
        position: absolute;
        left: 70px;
        top: 250px;
        width: 25px;
        height: 25px;
    }
    
    .albert {
        color: #140401;
        font-size: 13px;
        position: absolute;
        left: 105px;
        top: 247px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .fb {
        position: absolute;
        left: 60px;
        top: 268px;
        width: 45px;
        height: 45px;
    }
    
    .fb_text {
        color: #0f0e0e;
        font-size: 13px;
        position: absolute;
        left: 105px;
        top: 285px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .insta {
        position: absolute;
        left: 60px;
        top: 297px;
        width: 45px;
        height: 45px;
    }
    
    .insta_text {
        color: #0f0e0e;
        font-size: 13px;
        position: absolute;
        left: 105px;
        top: 313px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .yahoo {
        position: absolute;
        left: 73px;
        top: 337px;
        width: 20px;
        height: 20px;
    }
    
    .yahoo_text {
        color: #0f0e0e;
        font-size: 13px;
        position: absolute;
        left: 105px;
        top: 327px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .gmail {
        position: absolute;
        left: 75px;
        top: 365px;
        width: 18px;
        height: 12px;
    }
    
    .gmail_text {
        color: #0f0e0e;
        font-size: 13px;
        position: absolute;
        left: 105px;
        top: 350px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .tel {
        position: absolute;
        left: 75px;
        top: 385px;
        width: 20px;
        height: 20px;
    }
    
    .tel_text {
        color: #0f0e0e;
        font-size: 13px;
        position: absolute;
        left: 105px;
        top: 375px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }

}

@media only screen and (min-width: 375px) and (min-height: 812px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('PB5.png');
    }
      
    .topnav a {
        padding: 10px 14px;
        font-size: 14px;
    }   

    .topnav a.active {
        padding: 10px 17px;
    }

    .admin {
        position: absolute;
        left: 50px;
        top: 320px;
        width: 27px;
        height: 27px;
    }
    
    .albert {
        color: #140401;
        font-size: 15px;
        position: absolute;
        left: 90px;
        top: 313px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .fb {
        position: absolute;
        left: 37px;
        top: 340px;
        width: 51px;
        height: 51px;
    }
    
    .fb_text {
        color: #0f0e0e;
        font-size: 15px;
        position: absolute;
        left: 90px;
        top: 360px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .insta {
        position: absolute;
        left: 37px;
        top: 375px;
        width: 51px;
        height: 51px;
    }
    
    .insta_text {
        color: #0f0e0e;
        font-size: 15px;
        position: absolute;
        left: 90px;
        top: 393px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .yahoo {
        position: absolute;
        left: 50px;
        top: 420px;
        width: 23px;
        height: 23px;
    }
    
    .yahoo_text {
        color: #0f0e0e;
        font-size: 15px;
        position: absolute;
        left: 90px;
        top: 410px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .gmail {
        position: absolute;
        left: 52px;
        top: 453px;
        width: 20px;
        height: 15px;
    }
    
    .gmail_text {
        color: #0f0e0e;
        font-size: 15px;
        position: absolute;
        left: 90px;
        top: 437px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .tel {
        position: absolute;
        left: 52px;
        top: 480px;
        width: 23px;
        height: 23px;
    }
    
    .tel_text {
        color: #0f0e0e;
        font-size: 15px;
        position: absolute;
        left: 90px;
        top: 469px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
}

@media only screen and (min-width: 411px) and (min-height: 731px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('PB4.png');
    }
      
    .topnav a {
        padding: 10px 19px;
        font-size: 13px;
    }

    .topnav a.active {
        padding: 11px 23px;
    }

}

@media only screen and (min-width: 411px) and (min-height: 823px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('PB4.png');
    }
      
    .topnav a {
        padding: 10px 18px;
        font-size: 14px;
    }

    .topnav a.active {
        padding: 11px 19px;
    }

}

@media only screen and (min-width: 414px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('PB3.png');
    }
      
    .topnav a {
        padding: 10px 21px;
        font-size: 12px;
    }

    .topnav a.active {
        padding: 11px 25px;
    }

    .admin {
        position: absolute;
        left: 80px;
        top: 280px;
        width: 25px;
        height: 25px;
    }
    
    .albert {
        color: #140401;
        font-size: 13px;
        position: absolute;
        left: 120px;
        top: 276px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .fb {
        position: absolute;
        left: 71px;
        top: 300px;
        width: 43px;
        height: 43px;
    }
    
    .fb_text {
        color: #0f0e0e;
        font-size: 13px;
        position: absolute;
        left: 120px;
        top: 317px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .insta {
        position: absolute;
        left: 71px;
        top: 330px;
        width: 43px;
        height: 43px;
    }
    
    .insta_text {
        color: #0f0e0e;
        font-size: 13px;
        position: absolute;
        left: 120px;
        top: 346px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .yahoo {
        position: absolute;
        left: 82px;
        top: 370px;
        width: 20px;
        height: 20px;
    }
    
    .yahoo_text {
        color: #0f0e0e;
        font-size: 13px;
        position: absolute;
        left: 120px;
        top: 361px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .gmail {
        position: absolute;
        left: 84px;
        top: 400px;
        width: 19px;
        height: 14px;
    }
    
    .gmail_text {
        color: #0f0e0e;
        font-size: 13px;
        position: absolute;
        left: 120px;
        top: 388px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .tel {
        position: absolute;
        left: 84px;
        top: 425px;
        width: 20px;
        height: 20px;
    }
    
    .tel_text {
        color: #0f0e0e;
        font-size: 13px;
        position: absolute;
        left: 120px;
        top: 416px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('PB2.png');
    }
      
    .topnav a {
        padding: 7px 39px;
        font-size: 24px;
    }

    .topnav a.active {
        padding: 7px 31px;
    }

    .admin {
        position: absolute;
        left: 200px;
        top: 400px;
        width: 45px;
        height: 45px;
    }
    
    .albert {
        color: #140401;
        font-size: 23px;
        position: absolute;
        left: 255px;
        top: 393px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .fb {
        position: absolute;
        left: 190px;
        top: 435px;
        width: 65px;
        height: 65px;
    }
    
    .fb_text {
        color: #0f0e0e;
        font-size: 23px;
        position: absolute;
        left: 255px;
        top: 456px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .insta {
        position: absolute;
        left: 190px;
        top: 480px;
        width: 65px;
        height: 65px;
    }
    
    .insta_text {
        color: #0f0e0e;
        font-size: 23px;
        position: absolute;
        left: 255px;
        top: 500px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .yahoo {
        position: absolute;
        left: 208px;
        top: 540px;
        width: 30px;
        height: 30px;
    }
    
    .yahoo_text {
        color: #0f0e0e;
        font-size: 23px;
        position: absolute;
        left: 255px;
        top: 522px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .gmail {
        position: absolute;
        left: 210px;
        top: 587px;
        width: 27px;
        height: 22px;
    }
    
    .gmail_text {
        color: #0f0e0e;
        font-size: 23px;
        position: absolute;
        left: 255px;
        top: 563px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .tel {
        position: absolute;
        left: 210px;
        top: 625px;
        width: 30px;
        height: 30px;
    }
    
    .tel_text {
        color: #0f0e0e;
        font-size: 23px;
        position: absolute;
        left: 255px;
        top: 604px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
}

@media only screen and (min-width: 1024px) {

    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('PB2.png');
    }
                  
    .topnav a {
        padding: 5px 61px;
        font-size: 25px;
    }
    
    .topnav a.active {
        padding: 7px 63px;
    }

    .admin {
        position: absolute;
        left: 290px;
        top: 530px;
        width: 45px;
        height: 45px;
    }
    
    .albert {
        color: #140401;
        font-size: 23px;
        position: absolute;
        left: 350px;
        top: 525px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .fb {
        position: absolute;
        left: 280px;
        top: 568px;
        width: 65px;
        height: 65px;
    }
    
    .fb_text {
        color: #0f0e0e;
        font-size: 23px;
        position: absolute;
        left: 350px;
        top: 589px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .insta {
        position: absolute;
        left: 280px;
        top: 615px;
        width: 65px;
        height: 65px;
    }
    
    .insta_text {
        color: #0f0e0e;
        font-size: 23px;
        position: absolute;
        left: 350px;
        top: 637px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .yahoo {
        position: absolute;
        left: 297px;
        top: 675px;
        width: 30px;
        height: 30px;
    }
    
    .yahoo_text {
        color: #0f0e0e;
        font-size: 23px;
        position: absolute;
        left: 350px;
        top: 658px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .gmail {
        position: absolute;
        left: 300px;
        top: 720px;
        width: 27px;
        height: 22px;
    }
    
    .gmail_text {
        color: #0f0e0e;
        font-size: 23px;
        position: absolute;
        left: 350px;
        top: 697px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
    
    .tel {
        position: absolute;
        left: 300px;
        top: 760px;
        width: 30px;
        height: 30px;
    }
    
    .tel_text {
        color: #0f0e0e;
        font-size: 23px;
        position: absolute;
        left: 350px;
        top: 741px;
        font-family: Lato;
        font-weight: bold;
        font-style: italic;
    }
}

@media only screen and (min-width: 1280px) {
body{
    background-color: black;
    background-image: url('PB.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: Lato Regular;
}
  
.topnav {
    overflow: hidden;
    background-color: #1E1E1E;
}
  
.topnav a {
    float: left;
    color: #EADCDC;
    text-align: center;
    padding: 7px 129px;
    text-decoration: None;
    font-size: 15px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #33030F;
    color: white;
    padding: 7px 129px;
}

.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 15px;
    border: none;
    color: #EADCDC;
    padding: 0px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.subnav-content {
    display: none;
    position: absolute;
    left: 30;
    background-color: #1E1E1E;
    width: 50%;
    z-index: 1;
}
  
.subnav-content a {
    float: left;
    color: #EADCDC;
    text-decoration: none;
}
  
.subnav-content a:hover {
    background-color: #ddd;
    color: black;
}
  
.subnav:hover .subnav-content {
    display: block;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
      
 /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
      
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
      
/* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
background: #555;
}

.admin {
    position: absolute;
    left: 610px;
    top: 358px;
    width: 35px;
    height: 35px;
}

.albert {
    color: #140401;
    font-size: 17px;
    position: absolute;
    left: 650px;
    top: 354px;
    font-family: Lato;
    font-weight: bold;
    font-style: italic;
}

.fb {
    position: absolute;
    left: 597px;
    top: 387px;
    width: 60px;
    height: 60px;
}

.fb_text {
    color: #0f0e0e;
    font-size: 15px;
    position: absolute;
    left: 650px;
    top: 412px;
    font-family: Lato;
    font-weight: bold;
    font-style: italic;
}

.insta {
    position: absolute;
    left: 597px;
    top: 430px;
    width: 60px;
    height: 60px;
}

.insta_text {
    color: #0f0e0e;
    font-size: 15px;
    position: absolute;
    left: 650px;
    top: 452px;
    font-family: Lato;
    font-weight: bold;
    font-style: italic;
}

.yahoo {
    position: absolute;
    left: 615px;
    top: 490px;
    width: 25px;
    height: 25px;
}

.yahoo_text {
    color: #0f0e0e;
    font-size: 15px;
    position: absolute;
    left: 650px;
    top: 477px;
    font-family: Lato;
    font-weight: bold;
    font-style: italic;
}

.gmail {
    position: absolute;
    left: 615px;
    top: 525px;
    width: 23px;
    height: 19px;
}

.gmail_text {
    color: #0f0e0e;
    font-size: 15px;
    position: absolute;
    left: 650px;
    top: 511px;
    font-family: Lato;
    font-weight: bold;
    font-style: italic;
}

.tel {
    position: absolute;
    left: 615px;
    top: 555px;
    width: 25px;
    height: 25px;
}

.tel_text {
    color: #0f0e0e;
    font-size: 15px;
    position: absolute;
    left: 650px;
    top: 545px;
    font-family: Lato;
    font-weight: bold;
    font-style: italic;
}

}